* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  width: 100vw;
}
.logo img {
  margin-right: 20px;
  width: 100%;
  height: 50px;
  margin-bottom: -45px;
  margin-left: 7px;
  margin-top: 15px;
  margin: 15px 20px -45px 7px;
}
.nav-link {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap-reverse;

  width: 100%;
  list-style-type: none;
}
.nav-link li {
  padding: 20px 0;
}

.activities {
  width: 50%;
  border-bottom: 2px solid #ececec;
  text-align: center;
  order: 0;
}
.accommodations {
  width: 50%;
  border-bottom: 2px solid #ececec;
  text-align: center;
  order: 1;
}
.accommodations:hover,
.activities:hover {
  color: #0065fc;
  border-bottom: 2px solid #0065fc;
  padding: 20px 0;
}
.signup {
  color: #0065fc;
  font-weight: 800;
  text-align: justify;
  width: 30%;
  order: 1;
}
#order1 {
  order: 1;
}

#order2 {
  order: 3;
}
#order3 {
  order: 2;
}
#order4 {
  order: 4;
}
@media only screen and (min-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
  }
  .nav-link {
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }
  .nav-link li {
    padding: 35px 0;
  }
  .nav-link li {
    padding: 35px 0;
  }

  .accommodations {
    width: unset;
    order: 2;
    border-top: 2px solid #ececec;
    border-bottom: unset;
  }

  .activities {
    width: unset;
    order: 1;
    border-top: 2px solid #ececec;
    border-bottom: unset;
  }
  .accommodations :hover,
  .activities :hover {
    color: #0065fc;
    border-top: 2px solid #0065fc;
    border-bottom: unset;
    padding: 35px 0;
  }
  .signup {
    color: #0065fc;
    font-weight: 900;
    padding: 5px;
    width: unset;
    order: 0;
  }
  #order2 {
    order: 2;
  }
  #order3 {
    order: 3;
  }
}

/*searchBOX*/
.searchbox {
  margin: 10px 25px;
}
.description h3 {
  font-weight: 700;
  font-size: 2rem;
  margin-top: 40px;
}

@media only screen and (min-width: 600px) {
  .description h3 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;
  }
}
.description h4 {
  font-weight: 300;
  font-size: 1.1rem;
  margin: 10px 0;
}
@media only screen and (min-width: 600px) {
  .description h4 {
    font-weight: 300;
    font-size: 1rem;
  }
}
form {
  margin: 30px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 100vw;
}
@media only screen and (min-width: 600px) {
  form {
    margin: 30px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    width: 400px;
  }
}
form i.fa-map-marker-alt {
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
  border: 1px solid #f2f2f2;
}

form input {
  padding: 20px;
  width: 70%;
  border: 1px solid #f2f2f2;
  outline: none;
  position: relative;
}
@media only screen and (min-width: 600px) {
  form input {
    width: 250px;
  }
}

input.placeholder::-webkit-input-placeholder {
  font-weight: 700;
  font-size: 1rem;
  color: black;
  padding-left: 10px;
}
form input.btn {
  display: none;
}
@media only screen and (min-width: 600px) {
  form input.btn {
    background-color: #0065fc;
    color: white;
    border-radius: 0 15px 15px 0;
    display: flex;
    width: 100px;
    font-size: 1rem;
    font-weight: 500;
  }
}
form .fa-search {
  background-color: #0065fc;
  color: white;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #f2f2f2;
  position: absolute;
  right: 10%;
}
@media only screen and (min-width: 600px) {
  form .fa-search {
    display: none;
  }
}
/*FilterBOX*/

div.filter-bar {
  width: 100%;
  padding: 0 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: 900;
}
.filter-bar h4 {
  margin-right: 80vw;
}
div > button {
  display: inline-flex;
  flex-wrap: wrap;

  align-items: center;
  background-color: white;
  border: 2px solid lightgray;
  border-left: none;

  border-radius: 30px;

  padding: 0;
  margin: 10px 35px 10px 0;
}
button:hover {
  background-color: #0065fc;
  transition: 1s ease-in-out;
}
button .fas {
  color: #0065fc;
  background-color: #deebff;
  padding: 20px;
  font-size: 1rem;
  border-radius: 30px;
  margin: 0;
}

button span {
  font-size: 1rem;
  padding: 15px 30px 15px 10px;
  font-weight: 800;
}
/*low-cost*/
.filter-bar button:nth-child(1) {
  order: 0;
}
/*family-friendly*/
.filter-bar button:nth-child(2) {
  order: 0;
}
/*romantic*/
.filter-bar button:nth-child(3) {
  order: 0;
}
/*pets allowed*/
.filter-bar button:nth-child(4) {
  order: 0;
}
/*info*/
.info {
  display: flex;
  align-items: baseline;
  margin: 30px 100px 50px 30px;
}
#info1 {
  padding-left: 10px;
}
.info .fas {
  color: #0065fc;
  border: 1px solid lightgray;
  padding: 5px 10px;

  border-radius: 50px;
}
/*the container of the 2 sections*/
.sections-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100vw;
  height: auto;
}
@media only screen and (min-width: 600px) {
  .sections-box {
    display: flex;
    justify-content: space-between;
    height: 1550px;
  }
}
@media only screen and (min-width: 768px) {
  .sections-box {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: auto;
    padding: 0 25px;
    justify-content: space-between;
  }
}

/*box2:most popular section*/
.box2 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

  justify-content: space-evenly;
  width: 100vw;

  padding: 35px 25px;

  background-color: #ececec;
  height: 900px;
}
@media only screen and (min-width: 600px) {
  .box2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: space-between;
    width: 100vw;

    padding: 35px 25px;
    border-radius: 25px;
    background-color: #ececec;
    height: 500px;
  }
}
@media only screen and (min-width: 768px) {
  .box2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    justify-content: flex-start;
    width: 30%;

    padding: 35px 15px;

    background-color: #ececec;
    height: 850px;
    order: 2;
  }
}

.box2-title {
  display: flex;
  align-items: baseline;
  font-weight: 700;
  font-size: 1.5rem;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .box2-title {
    width: 100%;
  }
}

.box2-title-text {
  width: 100%;
  font-weight: 700;
  font-size: 1.9rem;
}

.photo_box2 a {
  display: flex;

  width: 100%;

  height: 200px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 0.1px 0px 0 rgba(0, 0, 0, 0.19),
    0 0px 10px 0 rgba(0, 0, 0, 0.19);
}
.photo_box2 a:hover {
  transition: 1s ease-in-out;
}
@media only screen and (min-width: 600px) {
  .photo_box2 a {
    display: flex;
    flex-wrap: wrap;
    width: 30vw;

    height: 330px;
  }
}
@media only screen and (min-width: 768px) {
  .photo_box2 a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 25vw;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 150px;
  }
}

.image_box2 {
  width: 40%;
  height: 100%;
  padding: 5px;
  border-radius: 25px 0 0 25px;
}
@media only screen and (min-width: 600px) {
  .image_box2 {
    width: 100%;
    height: 55%;
    border-radius: 25px 25px 0 0;
  }
}
@media only screen and (min-width: 768px) {
  .image_box2 {
    width: 40%;
    height: 100%;
    border-radius: 25px 0 0 25px;
  }
}
.photo_box2 .descrip_box2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-left: 20px;
  width: 50%;
  height: 95%;
}
@media only screen and (min-width: 600px) {
  .photo_box2 .descrip_box2 {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 10px;
    width: 100%;
    height: 40%;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 768px) {
  .photo_box2 .descrip_box2 {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 5px;
    width: 60%;
    height: 100%;
    justify-content: space-between;
  }
}

/*stars*/
.stars_box2 {
  letter-spacing: -1.5px;
  font-size: 1rem;
}
.stars_box1 {
  letter-spacing: -1.5px;
  font-size: 1rem;
}

.blue_star {
  color: #0065fc;
}
.grey_star {
  color: lightgrey;
}
/*DESCRIPTION*/
.accom_name_box1 {
  font-weight: 700;
  font-size: 1.5rem;
  padding: 5px 0;

  margin: 0;
}

@media only screen and (min-width: 600px) {
  .accom_name_box1 {
    font-weight: 900;
    font-size: 1.2rem;
    width: 100%;
    padding-bottom: 5px;
    margin-top: 0;
  }
}
@media only screen and (min-width: 768px) {
  .accom_name_box1 {
    font-weight: 900;
    font-size: 0.9rem;
    width: 100%;
    height: 40px;
    padding-bottom: 5px;
  }
}

.accom_name_box2 {
  font-weight: 700;
  font-size: 1.5rem;
  padding: 20px 0;

  margin: 0;
}
@media only screen and (min-width: 600px) {
  .accom_name_box2 {
    font-weight: 900;
    font-size: 1.2rem;
    width: 100%;
    padding: 5px 0;
  }
}
@media only screen and (min-width: 768px) {
  .accom_name_box2 {
    font-weight: 900;
    font-size: 0.9rem;

    height: 60px;
  }
}
.price_box {
  font-weight: lighter;
  font-size: 1rem;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .price_box {
    font-weight: lighter;
    font-size: 0.8rem;
  }
}

/*box1:accommodations section*/

.box1 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

  justify-content: space-between;
  width: 100vw;

  padding: 35px 25px 0 25px;

  background-color: white;
  height: 2000px;
}
@media only screen and (min-width: 600px) {
  .box1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: space-between;

    padding: 35px 25px;
    border-radius: 25px;
    width: 100%;
    background-color: #ececec;
    height: 1000px;
    order: 1;
  }
}
@media only screen and (min-width: 768px) {
  .box1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: space-between;

    padding: 35px 25px;
    border-radius: 25px;
    width: 65%;
    background-color: #ececec;
    height: 850px;
  }
}
.box1-title-text {
  font-weight: 700;
  font-size: 1.9rem;
  width: 100%;
}
.photo_box1 a {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 200px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 0.1px 0px 0 rgba(0, 0, 0, 0.19),
    0 3px 12px 0 rgba(0, 0, 0, 0.19);
  transition: box-shadow 0.5s ease-in-out;
}
@media only screen and (min-width: 600px) {
  .photo_box1 a {
    display: flex;
    flex-wrap: wrap;
    width: 30vw;
    padding: 5px;
    height: 280px;
  }
}
@media only screen and (min-width: 768px) {
  .photo_box1 a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 17vw;
    padding: 5px 5px 0 5px;
    height: 250px;
  }
}
.image_box1 {
  width: 100%;
  height: 55%;
  border-radius: 25px 25px 0 0;
}
@media only screen and (min-width: 600px) {
  .image_box1 {
    width: 100%;
    height: 55%;
  }
}

.photo_box1 .descrip_box1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  height: 45%;
  margin-left: 15px;
}
@media only screen and (min-width: 600px) {
  .photo_box1 .descrip_box1 {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 10px;
    width: 100%;
    height: 45%;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 768px) {
  .photo_box1 .descrip_box1 {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 5px 5px;
    width: 100%;
    height: 40%;
    justify-content: space-between;
  }
}

/*box1:show-more*/
div.show-more {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 15px 0;
}
/*box3:activities section*/

.box3 {
  width: 100vw;
}
@media only screen and (min-width: 768px) {
  .box3 {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: auto;
  }
}

.box3-title-text {
  font-weight: 700;
  font-size: 1.9rem;
  width: 100%;
  padding: 30px 25px 5px;
}

@media only screen and (min-width: 768px) {
  .box3-title-text {
    width: 80%;
    height: 25px;
    margin: 25px;
    text-align: start;
    padding: 30px 0px;
  }
}
.box3-section {
  display: flex;

  flex-direction: column;

  justify-content: space-evenly;
  width: 100vw;

  padding: 0 25px 35px 25px;

  background-color: white;
  height: 2000px;
}

@media only screen and (min-width: 600px) {
  .box3-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 1500px;
  }
}

@media only screen and (min-width: 768px) {
  .box3-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100vw;
    height: 800px;

    padding: 0 25px;
  }
}
.bxa,
.bxb,
.bxc {
  width: auto;
}

@media only screen and (min-width: 768px) {
  .bxa,
  .bxb,
  .bxc {
    width: 20%;
  }
}

.box3-title-text {
  font-weight: 700;
  font-size: 1.9rem;
  width: 100%;
  padding: 25px;
}

/*9999*/
.bxa a,
.bxb a,
.bxc a {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 250px;
  background-color: white;
  border-radius: 25px;

  box-shadow: 0 0.1px 0px 0 rgba(0, 0, 0, 0.19),
    0 0px 10px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (min-width: 600px) {
  .bxa a {
    display: flex;
    flex-direction: column;

    width: 90vw;
    height: 250px;
  }
  .bxb a {
    display: flex;
    flex-direction: column;

    width: 45vw;
    height: 250px;
  }

  .bxc a {
    display: flex;
    flex-direction: column;

    width: 45vw;
    height: 250px;
  }
}

@media only screen and (min-width: 768px) {
  .bxa a {
    display: flex;
    flex-direction: column;

    height: 700px;
    width: 100%;
  }
  .bxb a {
    display: flex;
    flex-direction: column;

    height: 350px;
    width: 100%;
  }

  .bxc a {
    display: flex;
    flex-direction: column;

    height: 275px;
    width: 100%;
  }
}
.photo_box3 img {
  width: 100%;
  height: 75%;
  border-radius: 25px 25px 0 0;
}
@media only screen and (min-width: 768px) {
  .bxa img {
    width: 100%;
    height: 90%;
  }
  .bxb img {
    width: 100%;
    height: 83%;
  }

  .bxc img {
    width: 100%;
    height: 77%;
  }
}
.activ_name {
  font-weight: 900;
  font-size: 1.1rem;

  padding: 5px 20px;
}
@media only screen and (min-width: 768px) {
  .activ_name {
    width: 100%;
    height: 10p%;
  }
}
/*footer*/

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ececec;
  width: auto;
  height: 550px;
}
@media only screen and (min-width: 600px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    height: auto;
    width: 100vw;
  }
}
@media only screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    height: auto;
    width: 100vw;
  }
}
.about,
.our-accommodations,
.assistance {
  display: flex;
  flex-direction: column;

  line-height: 2;
  margin: 20px 25px;
}

.footer h3 {
  font-size: 1.3rem;
  margin-left: 0;
  margin-bottom: 20px;
}
@media only screen and (min-width: 600px) {
  .footer h3 {
    font-size: 1.3rem;
    font-weight: 800;
  }
}
